extends table

block buttons
    form.navbar-form.navbar-right
        div.btn-toolbar
            button.btn.btn-default(onclick='return confirm("Inactive favorites will be cleared, are you sure?");' formaction="/favorites/clear_inactive" disabled=apartments.length <= 0) Clear inactive
            button.btn.btn-default(onclick='return confirm("All favorites will be cleared, are you sure?");' formaction="/favorites/clear_all" disabled=apartments.length <= 0) Clear all