doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
        script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.js')
        script(type='text/javascript', src='/javascripts/script.js')
    body
        nav.navbar.navbar-default.navbar-fixed-top
            div.container
                ul.nav.navbar-nav
                    li
                        a(href='/' class="#{nav}") Show new
                    li
                        a(href='/saved') Show saved
                    li
                        a(href='/favorites') Show favorites
        div.container
            block content


        dialog#details
