extends layout

//block buttons
//    form.navbar-form.navbar-right(action='/save')
//        input(type='hidden', name='sources', value='')
//        button.btn.btn-default Save

block content
    h3 Apartments source urls

    table.table.sources
        thead
            tr
                th Name
                th Url
                th Actions
        tbody
            each source in sources
                tr
                    td= source.name
                    td= source.url
                    td
                        input(type='checkbox', checked=!!source.active, onchange='change_source_state(#{JSON.stringify(source)}, this.checked)')
                        a(href='#' onclick='remove_source("#{source.name}", this); return false;') Del
