body {
    padding-top: 50px;
}

.selected {
    background-color: lightgreen;
}

dialog {
    height: 50%;
    width: 80%;
    overflow: scroll;
}

a.icon, a.icon:hover {
    text-decoration: none;
    color: inherit;
}

a.icon.favorite:before {
    content: '★';
}

a.icon.not-favorite:before {
    content: '☆';
}

a.icon.not-favorite:hover:before {
    content: '★';
}

table.sources {
    table-layout: fixed;
}

table.sources tr>th:nth-child(1) {
    width: 15%;
}

table.sources tr>td:nth-child(2) {
    word-break: break-all;
}

table.sources tr>th:nth-child(3) {
    width: 5%;
}